_gsdata_
/Backup
/hooks
/lfs
/V1/.va
/V1/3DMI/JSON
/V1/Build
/V1/JSON
/V1/Library/3DF
/V1/Library/3DX
/V1/Library/boost
/V1/Library/C3D
/V1/Library/Common/Wait
/V1/Library/HPS
/V1/Library/Signal/Wait
/V1/Library/Teigha
/V1/UiDesign
/V1/UiBuilder
/V1/UiTemplate
/V1/TracerOnSocket/TracerServer/obj
/V1/Library/3DX_OLD
/V1/Web
/V1/Library/3DF_2800
/V1/Library/Dmi3dfInterface/3DF/Private/SegmentPrivate.h
/V1/Library/3DX_2022
/V1/Library/3DX_2023
